frontend/node_modules
frontend/build
frontend/npm-debug.log
frontend/.nyc
frontend/.idea/*
.idea/*
helm/.idea/*
backendtend/.idea/*
.DS_Store
backend/.idea
backend/.classpath
backend/target/
backend/app.iml